---
- name: Wait 10 seconds before creating edge routers
  pause:
    seconds: 10

- name: Start Edge Router.E1
  docker_container:
    name: Router.E1
    image: "{{ image_router }}"
    state: started
    recreate: yes
    networks:
      - name: lab0
        aliases:
          - E1
        links:
          - I1
    volumes:
      - "{{playbook_dir}}/configs/Router.E1:/var/lib/qdrouterd"

- name: Start Edge Router.E2
  docker_container:
    name: Router.E2
    image: "{{ image_router }}"
    state: started
    recreate: yes
    networks:
      - name: lab0
        aliases:
          - E2
        links:
          - I2
    volumes:
      - "{{playbook_dir}}/configs/Router.E2:/var/lib/qdrouterd"

- name: Start Edge Router.E3
  docker_container:
    name: Router.E3
    image: "{{ image_router }}"
    state: started
    recreate: yes
    networks:
      - name: lab0
        aliases:
          - E3
        links:
          - I3
          - brokere3m
          - brokere3s
    volumes:
      - "{{playbook_dir}}/configs/Router.E3:/var/lib/qdrouterd"
