router {
    mode: interior 
    id: Router.I1
}

# 5672 opened for management
listener {
    host: 0.0.0.0
    port: 5672
    authenticatePeer: no
    saslMechanisms: ANONYMOUS
}

# Default listener for inter-router
listener {
    host: 0.0.0.0
    port: 5678
    role: edge
    authenticatePeer: no
    saslMechanisms: ANONYMOUS
}

# Listener for edge ANONYMOUS
listener {
    host: 0.0.0.0
    port: 5678
    role: edge
    authenticatePeer: no
    saslMechanisms: ANONYMOUS
}